@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ysabeau+SC:wght@1..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('assets/pexels-maxyne-barcel-10402282 1.png');
    background-size: cover;
    
    
}
.navv{

        display: flex;
        
        justify-content: space-around;
        align-items: center;
        align-items: center;
        height: 10vh;

}
.navv img{
    height: 40px;
}
.lii{
    display: flex;
    list-style: none;
    
    gap: 80px;
    text-transform: capitalize;
    
    font-family: "Poppins", serif;
    color: burlywood;
   
}
.lii li:nth-child(1){
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration:underline
}

.navv button{
    height: 35px;
    width: 120px;
    background-color: rgb(251, 22, 22);
   
   color: aliceblue;
   border:2px;
   letter-spacing: 2px;
   text-transform: capitalize;
}
.mainn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mainn h2{
    text-transform: capitalize;
    font-size: 4.5rem;
    font-family: "Poppins", serif;
    margin-top: 90px;
    text-align: center;
    line-height: 125px;
    color: burlywood;


}
.mainn button {
    height: 50px;
    width: 200px;
    text-transform: capitalize;
    letter-spacing: 3px;
    background-color: rgb(251, 22, 22);
    border: 2px;
    margin-top: 40px;
    font-weight: 800;
    color: white;
}

    